swagger: "2.0"
info:
  description: "Bringing together users and developers to create amazing projects."
  version: "1.0.0"
  title: "DevsMake"
  license:
    name: "GNU Affero General Public License v3.0"
    url: "https://www.gnu.org/licenses/agpl-3.0.en.html"
host: "devsmake.com"
basePath: "/api/v1"
tags:
- name: "general"
  description: "General system endpoints"
- name: "auth"
  description: "Authentication information"
- name: "profile"
  description: "Profile information"
schemes:
- "https"
- "http"
security:
  - github_auth:
    - user
paths:
  /healthcheck:
    get:
      tags:
        - "general"
      summary: system database health check
      security: []
      responses:
        "200":
          description: database available
          schema:
            properties:
              status:
                type: "string"
                format: "string"
                enum: ["available"]
        "500":
          description: database unavailable
          schema:
            properties:
              status:
                type: "string"
                format: "string"
                enum: ["unavailable"]
  /auth/login:
    get:
      tags:
        - "auth"
      summary: login through github oauth2
      security: []
      responses:
        "200":
          description: login
          schema:
            properties:
              access_token:
                type: "string"
                format: "string"
        default:
          description: error
          schema:
            $ref: "#/definitions/error"
  /auth/callback:
    get:
      tags:
        - "auth"
      summary: return access_token
      security: []
      responses:
        '200':
          description: login
          schema:
            properties:
              access_token:
                type: "string"
                format: "string"
        default:
          description: error
          schema:
            $ref: "#/definitions/error"
  /profile:
    get:
      tags:
        - "profile"
      summary: profile information and statistics for the current user
      responses:
        '200':
          description: success
          schema:
            properties:
              identifier:
                type: "integer"
                format: "int64"
              username:
                type: "string"
                format: "string"
        default:
          description: error
          schema:
            $ref: "#/definitions/error"
securityDefinitions:
  github_auth:
    type: "oauth2"
    flow: "accessCode"
    authorizationUrl: 'https://github.com/login/oauth/authorize'
    tokenUrl: 'https://github.com/login/oauth/access_token'
    scopes:
      user: User scope
definitions:
  error:
    type: "object"
    required:
       - "message"
    properties:
      code:
        type: "integer"
        format: "int64"
      message:
        type: "string"
      fields:
        type: "string"
  principal:
    type: "string"
externalDocs:
  description: "Find out more about DevsMake"
  url: "https://devsmake.com"