swagger: "2.0"
info:
  description: "Bringing together users and developers to create amazing projects."
  version: "1.0.0"
  title: "DevsMake"
  license:
    name: "GNU Affero General Public License v3.0"
    url: "https://www.gnu.org/licenses/agpl-3.0.en.html"
host: "devsmake.com"
basePath: "/api/v1"
tags:
- name: "general"
  description: "General system endpoints"
- name: "auth"
  description: "Authentication information"
- name: "profile"
  description: "Profile information"
- name: "idea post"
  description: "Idea post"
- name: "idea comments"
  description: "Idea post comments"
- name: "idea submissions"
  description: "Idea post submissions"
schemes:
- "https"
- "http"
security:
  - github_auth:
    - user
paths:
  /healthcheck:
    get:
      tags:
        - "general"
      summary: system database health check
      security: []
      responses:
        "200":
          description: database available
          schema:
            properties:
              status:
                type: "string"
                format: "string"
                enum: ["available"]
        "500":
          description: database unavailable
          schema:
            properties:
              status:
                type: "string"
                format: "string"
                enum: ["unavailable"]
  /auth/login:
    get:
      tags:
        - "auth"
      summary: login through github oauth2
      security: []
      responses:
        "200":
          description: login
          schema:
            properties:
              access_token:
                type: "string"
                format: "string"
        default:
          description: error
          schema:
            $ref: "#/definitions/error"
  /auth/callback:
    get:
      tags:
        - "auth"
      summary: return access_token
      security: []
      responses:
        '200':
          description: login
          schema:
            properties:
              access_token:
                type: "string"
                format: "string"
        default:
          description: error
          schema:
            $ref: "#/definitions/error"
  /profile:
    get:
      tags:
        - "profile"
      summary: profile information and statistics for the current user
      responses:
        '200':
          description: success
          schema:
            $ref: "#/definitions/Profile"
        default:
          description: error
          schema:
            $ref: "#/definitions/error"
  /profile/{id}:
    get:
      tags:
        - "profile"
      summary: profile information and statistics for the specified user id
      security: []
      parameters:
      - name: "id"
        in: "path"
        description: "identifier"
        required: true
        type: "integer"
      responses:
        '200':
          description: success
          schema:
            $ref: "#/definitions/Profile"
        default:
          description: error
          schema:
            $ref: "#/definitions/error"
  /profiles:
    get:
      tags:
        - "profile"
      summary: fetches all profiles sorting by criteria
      security: []
      parameters:
      - name: "sort"
        in: "query"
        description: "Sort profiles fetched based on a criteria"
        required: false
        type: "string"
        enum: ["points", "submissions", "likes"]
        default: "points"
      - name: "limit"
        in: "query"
        description: "The maximum number of profiles to fetch"
        required: true
        type: "integer"
        default: 100
        minimum: 1
        maximum: 1000
      - name: "offset"
        in: "query"
        description: "The number of profiles to skip before starting to collect the result set."
        required: true
        type: "integer"
        default: 0
      responses:
        '200':
          description: success
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Profile"
        default:
          description: error
          schema:
            $ref: "#/definitions/error"
  /ideas:
    get:
      tags:
        - "idea post"
      summary: gets list of all recent ideas posted
      security: []
      parameters:
      - name: "query"
        in: "query"
        description: "A optional search query"
        required: false
        type: "string"
      - name: "limit"
        in: "query"
        description: "The maximum number of posts to fetch"
        required: true
        type: "integer"
        default: 100
        minimum: 1
        maximum: 1000
      - name: "offset"
        in: "query"
        description: "The number of posts to skip before starting to collect the result set."
        required: true
        type: "integer"
        default: 0
      responses:
        '200':
          description: "ideas array"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Idea"
        default:
          description: error
          schema:
            $ref: "#/definitions/error"
    post:
      tags:
        - "idea post"
      summary: create an idea post
      parameters:
      - in: "body"
        name: "idea"
        schema:
          $ref: "#/definitions/Idea"
      responses:
        '200':
          description: "the idea post which was created"
          schema:
              $ref: "#/definitions/Idea"
        default:
          description: error
          schema:
            $ref: "#/definitions/error"
  /ideas/{uuid}:
    get:
      tags:
        - "idea post"
      summary: gets an idea by uuid
      security: []
      parameters:
      - name: "uuid"
        in: "path"
        description: "idea post uuid"
        required: true
        type: "string"
      responses:
        '200':
          description: "the idea post fetched"
          schema:
              $ref: "#/definitions/Idea"
        default:
          description: error
          schema:
            $ref: "#/definitions/error"
  /ideas/{uuid}/comments:
    get:
      tags:
        - "idea comments"
      summary: gets all comments for a idea post
      security: []
      parameters:
      - name: "uuid"
        in: "path"
        description: "idea post uuid"
        required: true
        type: "string"
      responses:
        '200':
          description: "the comments for the idea post fetched"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Comment"
        default:
          description: error
          schema:
            $ref: "#/definitions/error"
    post:
      tags:
        - "idea comments"
      summary: creates a comment for the idea post
      parameters:
      - name: "uuid"
        in: "path"
        description: "idea post uuid"
        required: true
        type: "string"
      - in: "body"
        name: "comment"
        schema:
          $ref: "#/definitions/Comment"
      responses:
        '200':
          description: "the comment post which was created"
          schema:
              $ref: "#/definitions/Comment"
        default:
          description: error
          schema:
            $ref: "#/definitions/error"
  /ideas/{uuid}/submissions:
    get:
      tags:
        - "idea submissions"
      summary: gets all submissions for a idea post
      parameters:
      - name: "uuid"
        in: "path"
        description: "idea post uuid"
        required: true
        type: "string"
      responses:
        '200':
          description: "the submissions for the idea post fetched"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Submission"
        default:
          description: error
          schema:
            $ref: "#/definitions/error"
    post:
      tags:
        - "idea submissions"
      summary: creates a submission for the idea post
      parameters:
      - name: "uuid"
        in: "path"
        description: "idea post uuid"
        required: true
        type: "string"
      - in: "body"
        name: "submision"
        schema:
          $ref: "#/definitions/Submission"
      responses:
        '200':
          description: "the submission post which was created"
          schema:
              $ref: "#/definitions/Submission"
        default:
          description: error
          schema:
            $ref: "#/definitions/error"
  /ideas/{uuid}/submissions/rate:
    put:
      tags:
        - "idea submissions"
      summary: rate an idea post submission
      parameters:
      - name: "uuid"
        in: "path"
        description: "idea post uuid"
        required: true
        type: "string"
      - in: "body"
        name: "rating"
        schema:
          type: "object"
          required:
            - rating
          properties:
            rating:
              type: "integer"
              example: 10
      responses:
        '200':
          description: "the subbmision post which was rated"
          schema:
              $ref: "#/definitions/Submission"
        default:
          description: error
          schema:
            $ref: "#/definitions/error"
  /ideas/{uuid}/rate:
    put:
      tags:
        - "idea post"
      summary: rate an idea post
      parameters:
      - name: "uuid"
        in: "path"
        description: "idea post uuid"
        required: true
        type: "string"
      - in: "body"
        name: "rating"
        schema:
          type: "object"
          required:
            - rating
          properties:
            rating:
              type: "string"
              enum: ["like", "dislike"]
      responses:
        '200':
          description: "the idea post which was rated"
          schema:
              $ref: "#/definitions/Idea"
        default:
          description: error
          schema:
            $ref: "#/definitions/error"
securityDefinitions:
  github_auth:
    type: "oauth2"
    flow: "accessCode"
    authorizationUrl: 'https://github.com/login/oauth/authorize'
    tokenUrl: 'https://github.com/login/oauth/access_token'
    scopes:
      user: User scope
definitions:
  Profile:
    type: "object"
    properties:
      identifier:
        type: "integer"
        format: "int64"
      username:
        type: "string"
      avatar_url:
        type: "string"
      points:
        type: "integer"
      total_posts:
        type: "integer"
      total_comments:
        type: "integer"
      total_submissions:
        type: "integer"
      total_ratings:
        type: "integer"
  Idea:
    type: "object"
    required:
       - "title"
       - "description"
    properties:
      author_id:
        type: "integer"
        format: "int64"
      uuid:
        type: "string"
      title:
        type: "string"
      description:
        type: "string"
      submissions:
        type: "integer"
      likes:
        type: "integer"
      dislikes:
        type: "integer"
      created:
        type: "string"
        format: "date-time"
  Comment:
    type: "object"
    required:
       - "comment"
    properties:
      author_id:
        type: "integer"
        format: "int64"
      uuid:
        type: "string"
      comment:
        type: "string"
      created:
        type: "string"
        format: "date-time"
  Submission:
    type: "object"
    required:
       - "comment"
    properties:
      author_id:
        type: "integer"
        format: "int64"
      uuid:
        type: "string"
      comment:
        type: "string"
      rating:
        type: "string"
      created:
        type: "string"
        format: "date-time"
  error:
    type: "object"
    required:
       - "message"
    properties:
      code:
        type: "integer"
        format: "int64"
      message:
        type: "string"
      fields:
        type: "string"
  principal:
    type: "string"
externalDocs:
  description: "Find out more about DevsMake"
  url: "https://devsmake.com"